/*///general///*/
body{
  background-color: lightgray;
  font-family:fantasy;
  text-align: center;
}
h1{

}
h3 {
  display: inline-block;
}

.classGroup {
  background-color: #4b4c5a;
  border-radius: 10px;
  color:white;
  -webkit-text-stroke: 1px black;
}
.classBody{

}
.dayConfigGroup{

}

/*input styling*/
input[type="text"] {
  display: inline-block;
  padding:0.25em;
  margin:0.5em;
}

/*checkbox*/
input[type=checkbox] {
  display:inline-block;
  transform: scale(1.5);
}


/*Show/hide dayConfig*/
.dayConfigGroup {
  display: none;
}

#showDayConfig_A:checked ~ .classBody > #dayConfigGroup_A{
  display: block;
}
#showDayConfig_A:checked ~ .classBody > #defaultClass_A {
  display:none;
}
